@page "/"
@using System.Text
@using System.Text.Json
@using AnalizaEvaluarilor.Common.DTO
@using AnalizaEvaluarilor.Mobile.Components.Layout
@inject  HttpClient Http
@layout EmpyLatout
<h1>Hello, world!</h1>

<button class="btn btn-success" @onclick="() => Test() ">Test</button>

@* lectia 5  *@

@code
{
    UserDTO user = new UserDTO
    {
        Username = "Test",
        Password = "Test",
        
    };
    public async Task Test()
    {
        var content = new StringContent(JsonSerializer.Serialize(user), Encoding.UTF8, "api/login");
        var response = await Http.PostAsync("api/evaluare", content);
    }
    
}
